:root {
  --azul-principal: #013c5a;
  --cinza-fundo: #f0ece6;
  --branco: #ffffff;
  --cinza-medio: #ccc;
  --cinza-claro: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #e4e4e4;
  color: #1e1e1e;
}

header {
  background-color: var(--azul-principal);
  color: white;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.menu-btn {
  width: 50px;
  height: 25px;
  background-color: white;
  border-radius: 5px;
}

.icon-sino {
  width: 24px;
  filter: brightness(0) invert(1);
}

.barra-pesquisa input {
  width: 400px;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 15px;
}

.usuario img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.card h3 {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  color: #004264;
  font-size: 25px;
}

.card ul {
  list-style: none;
}

.card.professor {
  width: 306px;
  height: 620px;
  cursor: pointer;
}

.options-professor {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.professor-icon {
  width: 31.9px;
  height: 35px;
}

.caderno-icon {
  width: 25.42px;
  height: 29.03px;
}

.calendario-icon {
  width: 27.5px;
  height: 30.29px;
}

.card-itens-professor {
  color: #005987;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.card.professor li {
  display: flex;
  align-items: center;
  gap: 5px;

  :hover {
    opacity: 0.9;
  }
}

.card.pendencias {
  width: 306px;
  height: 620px;
  cursor: pointer;
}

.card.pendencias li {
  background: #e09d00;
  padding: 10px;
  width: 263px;
  height: 70px;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 15px;

  :hover {
    opacity: 0.7;
  }
}

.options-pendencias {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 14px;
}

.number-pendencia {
  font-size: 20px;
  font-weight: bold;
}

.icon-vector {
  width: 22.47px;
  height: 19.38px;
}

.card.calendario {
  width: 563.21px;
  height: 620px;
  cursor: pointer;
}

.calendario-titulo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #003366;
  font-weight: bold;
  padding: 1rem;
}

.calendario-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.steps-meses {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  font-size: 30px;
  color: #d9d9d9;
}
.mes-ano {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 1rem;
  color: #005987;
}

.calendario-grid {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.dias-semana {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  color: #7b827e;
  margin-bottom: 0.5rem;
}

.dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}

.dias span {
  padding: 0.5rem;
  border-radius: 6px;
  background-color: transparent;
  color: #333;
  font-size: 0.9rem;
}

.dias span.ativo {
  background-color: #0270a8;
  color: white;
  font-weight: bold;
}

.dias span.ativo-forte {
  background-color: #013c5a;
  color: white;
  font-weight: bold;
}

.dias span.cinza {
  background-color: #d9d9d9;
  color: #0a1811;
  font-weight: 500;
}

.legenda {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
}

.evento {
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
  color: white;
  font-weight: 500;
}

.azul {
  background-color: #0270a8;
}

.azul-escuro {
  background-color: #013c5a;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  max-width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
  align-items: start;
}

.card-items {
  width: 390px;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: #fcf3e4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 12px;
}

.dropdown {
  display: none;
  margin-top: 12px;
  position: relative;
  background-color: #fcf3e4;
  width: 100%;
  box-sizing: border-box;
}

.card-button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #004264;
  padding: 0;
  text-align: left;
  width: 100%;
}

.card-text {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #004264;
  width: 100%;
}

.dropdown p {
  margin: 6px 0;
  font-size: 14px;
}

.dropdown-sub {
  margin-left: 10px;
}

.sub-title {
  font-weight: bold;
  margin-top: 8px;
}

.sub-item {
  margin-left: 10px;
  font-size: 13px;
}

.item-color {
  color: #004264;
  font-size: 18px;
  cursor: pointer;

  :hover {
    opacity: 0.9;
  }
}

.dropdown-card.open .dropdown {
  display: block;
}

.noticias-section {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: 100%;

  @media (max-width: 767px) {
    gap: 20px;
    flex-direction: column;
  }
}

.card-noticia {
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  max-width: 340px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.card-noticia img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.conteudo {
  background-color: #19709D;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.titulo {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.subtitulo {
  font-size: 14px;
  margin: 0;
}

.descricao {
  font-size: 14px;
  font-weight: bold;
  margin: 8px 0 0 0;
}

footer {
  background-color: #013c5a;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-iff {
  height: 40px;
}

.redes-sociais {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  max-width: 300px;
}

.redes-sociais img {
  width: 100%;
  max-width: 180px;
  height: auto;
  filter: brightness(0) invert(1);
  cursor: pointer;
  transition: opacity 0.2s;
}

.redes-sociais img:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .card-noticia {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (min-width: 1024px) {
  .card-noticia {
    flex: 1 1 calc(33.333% - 20px);
  }
}
